.navbar-brand {
    font-family: 'MomsDinerMedium';
    font-size: 30px;
    transform: rotate(-5deg);
}

a.polaroid {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px 100px 20px 10px;
    
    border: 1px solid #BFBFBF;
    /*border: 4px solid blue; */
    background-color: white;
    background-image: url('/static/img/notecard.png');
    background-size: 100%; 
    z-index: 2;
    font-size: 0.7em;
    -webkit-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
    -moz-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
    box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
    -webkit-transition: all 0.1s ease-in;
}

    
a.polaroid:hover,
a.polaroid:focus,
a.polaroid:active {
    z-index: 999;
    border-color: #6A6A6A;
    -webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    -moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    /*
    -webkit-transform: rotate(0deg) scale(1.05);
    -moz-transform: rotate(0deg) scale(1.05);
    transform: rotate(0deg) scale(1.05); */
}

.recipe-cards .large {
    width: 100%;
    min-height: 300px;
    padding: 20px 20px 30px 20px;
    font-size: 1em;
}
.recipe-cards .large img {
    width:33%;
    height: auto;
    border:1px solid black;
}

.recipe_card {
    width: 95%;
    color: #333;
    
    font-size: 17px;
}
.recipe_card.header {
font-family:"NotethisRegular", "Snell Roundhand", "Helvetica Neue",Arial,Helvetica,sans-serif;

}
.recipe_card .title {
    font-size: 26px;
    font-weight: bold;
    transform: rotate(-5deg);

}
.recipe_card .foodpic {
    float:right;
    }
.favorite {
border: 4px solid yellow;
}