@font-face {
	font-family: 'NotethisRegular';
	src: url('/static/fonts/Note_this.eot');
	src: local('Note this Regular'), local('Notethis'), url('/static/fonts/Note_this.woff') format('woff'), url('/static/fonts/Note_this.ttf') format('truetype'), url('/static/fonts/Note_this.svg#Notethis') format('svg');
}



	a.polaroid {
		display: block;
		text-decoration: none;
		color: #333;
		padding: 10px 100px 20px 10px;
		
		border: 1px solid #BFBFBF;
        /*border: 4px solid blue; */
		background-color: white;
        background-image: url('/static/img/notecard.png');
        background-size: 100%; 
		z-index: 2;
		font-size: 0.7em;
		-webkit-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
		-moz-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
		box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
		-webkit-transition: all 0.2s ease-in;
	}
	
    
	a.polaroid:hover,
	a.polaroid:focus,
	a.polaroid:active {
		z-index: 999;
		border-color: #6A6A6A;
		-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
		-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
		box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
		/*
        -webkit-transform: rotate(0deg) scale(1.05);
		-moz-transform: rotate(0deg) scale(1.05);
		transform: rotate(0deg) scale(1.05); */
	}

	.photo-album .large {
		width: 100%;
        min-height: 300px;
		padding: 20px 20px 30px 20px;
		font-size: 1em;
	}
	.photo-album .large img {
		width:33%;
		height: auto;
	}
    
    .recipe_card {
        width: 95%;
		color: #333;
		
		font-size: 17px;
        /*border:2px solid red;*/
    }
    .recipe_card.header {
    font-family:"gongnormal", "Snell Roundhand", "Helvetica Neue",Arial,Helvetica,sans-serif;
    width: 50%;
    }
    .recipe_card .title {
		font-size: 22px;
        font-weight: bold;
        transform: rotate(-5deg);
    
    }
    .recipe_card img {
        position: absolute;
        right: 50px;
        top: 20px;
        }