body { 
    color : #000000; 
    background-color : #FFFFFF; 
    background-image: url("/static/img/background.jpg")
}

.container { 
    min-height: 100% 
}
.navbar-brand {
    font-size: 30px;
    transform: rotate(-5deg);
}

.page-heading {
    padding-bottom: 100px;
}
@icon-font-path:          "/static/fonts/";