



body { 
    color : #000000; 
    background-color : #FFFFFF; 
    background-image: url("/static/img/background.jpg")
}

.container { 
    min-height: 100% 
}
.navbar-brand {
    font-family: 'MomsDinerMedium';
    font-size: 30px;
    transform: rotate(-5deg);
}


