<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/styles.css" rel="stylesheet">
    <link href="/static/css/my_css.css" rel="stylesheet">
    <link href="/static/css/polaroid.css" rel="stylesheet">
    <link href="/static/fonts/gong_font.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>    
    <style>
    .body {
        color:  #000000
        }
      .container { min-height: 100% }

      .top-buffer { margin-top:5; 100px; }

   </style>
    <style type="text/css" >

    </style>



    {% if title %}
    <title>{{title}} - Family Recipes</title>
    {% else %}
    <title>Family Recipes</title>
    {% endif %}

  </head>
  <body>
    
    <div class="container ">
      <div class="navbar">
        <div class="navbar-inner">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="navbar-brand" href="/" >Our Recipes</a>
            <ul class="nav navbar-nav" role="tablist">
              <li><a href="{{ url_for('index') }}">Home</a></li>
              <li><a href="{{ url_for('our_recipes') }}">Our Recipes</a></li>
              <li><a href="{{ url_for('meal_ideas') }}">Meal Ideas</a></li>
              <li><a href="{{ url_for('moms_recipes') }}">Moms Recipes</a></li>
              <li><a href="{{ url_for('add_recipe') }}">Add Recipe</a></li>
            </ul>
        </div>
      </div>
      
      <hr>
             
          {% block content %}{% endblock %}
      
    </div>   

    
    <script src="/static/js/bootstrap.min.js"></script>
  </div>
  </body>
</html>