<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    
    {% if title %}
    <title>{{title}} - Family Recipes</title>
    {% else %}
    <title>Family Recipes</title>
    {% endif %}
    <style>
      body { background: url('/static/img/background.jpg'); }
      .container { background: white; min-height: 100% }

      }
}   

    </style>
  </head>
  <body>
    
    <div class="container ">
      <div class="navbar">
        <div class="navbar-inner">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="navbar-brand" href="/">Recipes</a>
            <ul class="nav nav-tabs" role="tablist">
              <li><a href="{{ url_for('index') }}">Home</a></li>
              <li><a href="{{ url_for('our_recipes') }}">Our Recipes</a></li>
              <li><a href="{{ url_for('meal_ideas') }}">Meal Ideas</a></li>
              <li><a href="{{ url_for('moms_recipes') }}">Moms Recipes</a></li>
              <li><a href="{{ url_for('add_recipe') }}">Add Recipe</a></li>
            </ul>
        </div>
      </div>
      <hr>
             
          {% block content %}{% endblock %}
      
    </div>   

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </div>
  </body>
</html>