<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6" style="text-align:center"><h1>Our Family Recipes</h1></div>
<div class="col-lg-3"></div>
</div>

{% include 'flash.html' %}

<div class="photo-album">

{% for recent in recipes %}
{% if recent.even %}
<div class "row" style="overflow:hidden">
{%endif%}
<div class="col-md-6" >
    
    <a href="{{url_for('view_recipe', id = recent['id']) }}" class="large polaroid img">
    <div class="recipe_card header" >  
    <p class="title">{{ recent["recipe_name"] }} </p>
    </div>
    <div class="recipe_card">
     <br >
     <p>Rating:  {{recent.rating}}</p>
     <p>Date Cooked {{recent.timestamp}}</p>
     {% if recent.notes %}
     <p>{{ recent.notes }}</p>
     {% endif %}
     <img src="/static/pictures/{{recent['image_path']}}"  alt="">
     
    </div>
    </a>    
</div>
{% if recent.odd %}
</div>

{% endif %}
{% endfor %}


{% endblock %}