<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div class="row">
      <div class="col-lg-12" style="text-align:center"><h1>Our Family Recipes</h1></div>
</div>

{% include 'flash.html' %}

<div class="photo-album">
<div class "row" >
{% for recent in recipes %}



<div class="col-md-6 col-lg-4 col-sm-12 recipe_cards" >
    
    <a href="{{url_for('view_recipe', id = recent['id']) }}" class="large polaroid img">
    <div class="recipe_card header" >  
    <p class="title">{{ recent["recipe_name"] }} </p>
    </div>
    <div class="recipe_card">
     <br >
     <p>Rating:  {{recent.rating}}</p>
     <p>Date Cooked {{recent.timestamp}}</p>
     {% if recent.notes %}
     <p>{{ recent.notes }}</p>
     {% endif %}
     <img src="/static/pictures/{{recent['image_path']}}"  alt="">
     
    </div>
    </a>    
</div>

{% endfor %}

<script>
$(".polaroid").each( function() {
  var rNum = (Math.random()*10)-5;
  
  $(this).css( {   
    '-webkit-transform': 'rotate('+rNum+'2deg)',
    '-moz-transform': 'rotate('+rNum+'2deg)',
    'transform':'rotate('+rNum+'2deg)'
    
  } );  
} );
</script>
{% endblock %}