<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}
<div class="well">
    <h3>Please Sign In</h3>
    <form class="form" action="" method="post" name="login">
        {{form.hidden_tag()}}

        <div class="control-group">
            <div class="controls">
                <label class="checkbox" for="remember_me">
                    {{ form.remember_me }} Remember Me
                </label>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input class="btn btn-primary" type="submit" value="Sign In">
            </div>
        </div>
    </form>
</div>
{% endblock %}
