{% extends "base.html" %}

{% block content %}
<form class="form-horizontal" action="" method="post" name="login">
        {{form.hidden_tag()}}
        <div class="control-group{% if form.errors.user_name %} error{% endif %}">
            <label class="control-label" for="user_name">User Name:</label>
            <div class="controls">
                {{ form.user_name(maxlength = 64, class = "span4") }}
                {% for error in form.errors.user_name %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
        <div class="control-group{% if form.errors.password %} error{% endif %}">
            <label class="control-label" for="password">Password:</label>
            <div class="controls">
                {{ form.password(maxlength = 64, class = "span4") }}
                {% for error in form.errors.password %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
<div class="control-group">
            <div class="controls">
                <input class="btn btn-primary" type="submit" value="Save Changes">
            </div>
        </div>
{% endblock %}