{% block content %}
<h1>{{ recipe['id'] }} - {{ recipe['recipe_name'] }}</h1>
Ingredients
<ul>
{% for ingredient in recipe.ingredient_list %}
     {% if ingredient.strip() %}
    <li> {{ ingredient }}  </li>
    {% endif %}
{% endfor %}
</ul>
Directions
<ul>
{% for direction in recipe.direction_list %}
    {% if direction.strip() %}
    <li> {{ direction }}  </li>
    {% endif %}
{% endfor %}
</ul>
{% if recipe.note_list %}
Notes
<ul>
{% for note in recipe.note_list %}
    {% if note.strip() %}
    <li> {{ note }}  </li>
    {% endif %}
{% endfor %}
</ul>
{% endif %}
{% endblock %}