{% macro with_errors(field, dimensions=None) %}

    <div class="form-group">
    {% if field.name != 'image_path' %}
    <label class="control-label" for='{{field}}'>{{field.label.text + ':'}}</label>
    {% endif %}    
        <div class="controls">
    {% if field.errors %}
        {% set css_class = 'control-group error' %}
        {{ field(class=css_class, **kwargs) }}
        <span class="help-inline">{% for error in field.errors %}<li>{{ error|e }}</li>{% endfor %}</ul>
    {% else %}
        {% set css_class = 'form-control' %}
        {{ field(class=css_class, **kwargs) }}
    {% endif %}
        </div>
    </div>
    
{% endmacro %}
<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div class="row page-heading">
      <div class="col-lg-12" style="text-align:center"><h1>{{title}}</h1></div>
</div>
{% include 'flash.html' %}

 

<div class="row">
<div class="col-sm-1 col-md-2"></div>
<div class="col-md-8 col-sm-6">
<div class="well">
   <form action="" method="post" name="add_recipe" enctype="multipart/form-data">
           {{form.hidden_tag()}}
           {{ with_errors(form.recipe_name) }}
           {{ with_errors(form.ingredients, rows=10)  }}
           {{ with_errors(form.directions, rows=10) }}
           {{ with_errors(form.notes,  rows=10) }}
           {{ with_errors(form.url) }}
           {{ with_errors(form.rating) }}
           {{ with_errors(form.was_cooked) }}
           {{ with_errors(form.image_path, style="display:none") }}
           {{ with_errors(form.image_file) }}
        
        <div class="control-group">
            <div class="controls">
                <input class="btn btn-primary" type="submit" value="Save Changes">
            </div>
        </div>
    </form>
</div>
</div>
<div class="col-sm-1 col-md-2"></div>
</div>    
{% endblock %}